<!DOCTYPE html>
<html>
<title><%= @title %></title>
<body>
	<h1><%= @main_header %></h1>
	<form method="post" action="create">
		Name: <input name="name" />
		<br/><br/>
		<button type="submit">Submit</button>
	</form>
</body>
</html>
